@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.containers {
    background-color: #86d2f2;
}

.bulb {
    background-color: #4b5069;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.button {
    background-color: #1f1d41;
    color: #ffffff;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
    font-size: 15px;
}

h1 {
    font-family: 'Roboto';
    color: #1f1d41;
    font-weight: bold;
}

.traffic-light {
    background-color: #1f1d41;
    width: 90px;
    height: 300px;
    border-radius: 40px;
    margin: 10px;
}